<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Health Insurance</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
	crossorigin="anonymous">
</link>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</meta>
</head>
<body>
	    <form action="#" th:action="@{/quotes/initial-quote}" th:object="${basicInformation}" method="post">
			<div class="container">
				<h1>
					Health Insurance
				</h1>
				<table class="table">
					<tr>
						<td>Name</td>
						<td><input type="text" th:value="${name}"  name="name" id="name"></input></td>
					</tr>
					<tr>
						<td>Gender</td>
						<td>
							<select name="gender">
								<option value="1" >Male</option>
								<option value="0" >Female</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Age</td>
						<td><input type="text" th:value="${age}"  name="age" id="age"></input></td>
					</tr>
					<tr>
						<td>Premium Amount</td>
						<td><input type="text" th:value="${basePremium}"  name="basePremium" id="basePremium"></input></td>
					</tr>
					<tr>
						<td>Current health</td>
						<td >
							<ul style="list-style-type: none;"> 
								<li th:each="healthCheck:${basicInformation.healthChecks}">
									<input type="checkbox" 
									th:value="${healthCheck.healthCheckId}"  
									th:checked="${healthCheck.impact}"
									name="selectedHealthChecks" 
									id="selectedHealthChecks"
									>
									<label th:text="${healthCheck.healthCheckName}"></label>
								</li>
							</ul>
						</td>				
					</tr>
					<tr>
						<td>Habbits</td>
						<td >
							<ul style="list-style-type: none;"> 
								<li th:each="habbit:${basicInformation.habbits}">
								<input type="checkbox" 
								th:value="${habbit.habbitId}"  
								th:checked="${habbit.impact}"
								name="selectedHabbits" 
								id="selectedHabbits" 
								>
								
								<label th:text="${habbit.habbitName}"></label>
								</li>
							</ul>
						</td>				
					</tr>
					<tr>
						<td colspan="2">
							<button type="submit">Calculate</button>
						</td>				
					</tr>
											
				</table>
			</div>
	</form>
</body>
</html>
