<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Health Insurance</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
	crossorigin="anonymous">
</link>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</meta>
</head>
<body>
	    <form action="#" th:action="@{/quotes/initial-quote}" th:object="${basicInformation}" method="post">
			<div class="container">
				<h1>
					Health Insurance
				</h1>
				<p>
					Insurance Amount : <label th:text="${calculatedAmount}"></label>
				</p>
				<p>
					<a  th:href="@{/quotes/initial-quote}">Try Again</a>
				</p>
			</div>
	</form>
</body>
</html>
